<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT-Chapp</title>
    <style>
        body{
            background-color: rgb(95, 95, 95);
            color:rgb(221, 221, 221);
        }
    </style>
</head>
<body>

    Welcome to Dashboard <%= user.username %>

    <form action="/user/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <table>
        <% friends.forEach( friend => { %>
        
        <tr>
            <td> <a href='/user/<%= user.id %>/chats/<%= friend.id %>' > <%= friend.name %> </a> </td>
            <td> Online </td>
        </tr>

        <% }) %>
    </table>

</body>
</html>
